<h1>New Farmer Account</h1>

<%= form_with scope: :farmer, url: farmers_path, local: true do |form| %>
  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>
   
  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
  </p>
   
  <p>
    <%= form.label :birthdate %><br>
    <%= form.date_field :birthdate %>
  </p>
   
  <p>
    <%= form.label "Farm Address" %><br>
    <%= form.text_field :address %>
  </p>
   
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
   
  <p>
    <%= form.label :telephone %><br>
    <%= form.text_field :telephone %>
  </p>
   
  <p>
    <%= form.submit "Create Account", :class => 'linkbutton'%>
  </p>
<% end %>