<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CropConnect" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CropConnect" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="app_header">
    <%= render 'layouts/header' %>
  </header>

  <body>  
    <main role="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>


  <footer class="app_footer">
      <%= render 'layouts/footer' %>
  </footer>

  </html>
